* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Add styles here! */
.min-height-wrapper {
  min-height: 100%;
}

header {
  min-height: 50%;
  max-height: 70%;
  height: auto;
}

main {
  min-height: 50%;
  box-shadow: inset 0px 6px hsl(0deg 0% 40%), inset 3px 0px hsl(0deg 0% 40%);
  background: hsl(0deg 0% 60%);
  padding-top: 4rem;
}

.max-width-wrapper {
  margin-right: auto; */
  max-width: 100%;
}

.intro-chunk {
  max-width: fit-content;
  margin: auto;
  padding: 6rem 1rem 1rem;
  min-width: 300px;
  max-width: 800px;
  font-size: 1.2rem;
}

.intro-chunk strong {
  color: hsl(160deg 100% 30%);
}

.intro-chunk p {
  width: 50%;
}

.card {
  padding: 8px 16px;
  background: hsl(0deg 0% 100%);
  box-shadow: 0px 5px hsl(0deg 2% 33% / 44%), 2px 0px hsl(0deg 2% 33%);
  min-width: 300px;
  max-width: 800px;
  margin: auto;
}

.indented-heading {
  background: hsl(45deg 100% 50%);
  box-shadow: 0px 5px hsl(45deg 100% 40%);
  max-width: fit-content;
  display: inline-block;
  margin: 0;
  padding: 1rem;
  margin-left: -32px;
}